{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-row">

    

    <div class="row">
        {% for author in authors %}
        <div class="col-sm-3 mb-3 mb-sm-0">
      
            <div class="card" style="width: 18rem; margin: 20px;">
                <img src="{{ author.image.url }}" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">{{ author.name }}</h5>
                {% if author.biography %}
                <p class="card-text">{{ author.biography.biography }}</p>
                {% endif %}
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    let url = 'ws://127.0.0.1:8000/ws/autors/'
    const socket = new WebSocket(url)

    socker.onmessage = function(e) {
        let data = JSON.parse(e.data)
        console.log("Data:", data)
    }
</script>
{% endblock %}